Данный ноутбук - конспект и мой прогресс по обучению языку Python на курсах от МФТИ - DataScientist. Нужен он, чтобы я всегда мог повторить все, что изучил и лучше обучаться.

Основные задачи на курсе решаются на сайте: https://snakify.org/en/

В данном ноутбуке по мере прохождения я буду прикладывать ссылки на дополнительные материалы по мере изучения языка, а так же здесь будут мои решения задач.

Полезные ссылки:
1. [Документация Python](https://docs.python.org/3/)

# Lesson 1 - Input, print and numbers
---
[Ссылка на урок на snakify](https://snakify.org/en/lessons/print_input_numbers/)

[Ссылка на документацию Python 7.Input and Output](https://docs.python.org/3/tutorial/inputoutput.html#fancier-output-formatting)

[Ссылка на документацию Python 3.1. Using Python as a Calculator](https://docs.python.org/3.11/tutorial/introduction.html#using-python-as-a-calculator)

## Theory
---
[Ссылка на раздел урока](https://snakify.org/en/lessons/print_input_numbers/)

### How to read and write in Python
---
Every program is eventually a data processor, so we should know how to input and output data within it. There exists a function, print(), to output data from any Python program. To use it, pass a comma separated list of arguments that you want to print to the print() function. Let's see an example. Press "run" and then "next" to see how the program is being executed line by line:

In [2]:
print(5 + 10)

15

In [3]:
print(3 * 7, (17 - 2) * 8)

21 120

In [7]:
#Возведение в степень
print(2 ** 16)  # two stars are used for exponentiation (2 to the power of 16)

65536

In [8]:
#Операция деления
print(37 / 3)  # single forward slash is a division

12.333333333333334

In [10]:
#Операция целочисленного деления
print(37 // 3)  # double forward slash is an integer division
        # it returns only the quotient of the division (i.e. no remainder)

12

In [12]:
#Получение остатка от целочисленного деления
print(37 % 3)  # percent sign is a modulus operator
        # it gives the remainder of the left value divided by the right value

1

To input data into a program, we use input(). This function reads a single line of text, as a String.

Here's a program that reads the user's name and greets them:

In [17]:
print('What is yout name?')
name = input()  # read a single line and store it in the variable "name"
print('Hi, ' + name + '!')

What is yout name?
Vitaliy
Hi, Vitaliy!

### Sum of numbers and strings

Let's try to write a program that inputs two numbers and prints their sum. We read the two numbers and store them in the variables a and b using the assignment operator =. On the left side of an assignment operator we put the name of the variable. The name could be a string of latin characters (A-Z, a-z, 0-9, _) but must start with a letter in the range A-Z or a-z. On the right side of an assignment operator we put any expression that Python can evaluate. The name starts pointing to the result of the evaluation. Read this example, run it and look at the output:

In [18]:
a = input()
b = input()
s = a + b
print(s)

5
7
57

After running the example we can see that it prints 57. As we were taught in school, 5 + 7 gives 12. So, the program is wrong, and it's important to understand why. The thing is, in the third line s = a + b Python has "summed" two strings, rather than two numbers. The sum of two strings in Python works as follows: they are just glued one after another. It's also sometimes called "string concatenation".

Do you see in the variable inspector, on the right hand side, that the values bound to variables a and b are wrapped in quotes? That means that the values there are string, not numbers. Strings and numbers are represented in Python differently.

All the values in Python are called "objects". Every object has a certain type. The number 2 corresponds to an object "number 2" of type "int" (i.e., an integer number). The string 'hello' corresponds to an object "string 'hello'" of type "str". Every floating-point number is represented as an object of type "float". The type of an object specifies what kind of operations may be applied to it. For instance, if the two variables "first" and "second" are pointing to the objects of type int, Python can multiply them. However, if they are pointing to the objects of type str, Python can't do that:

In [19]:
first = 5
second = 7
print(first * second)

35

In [20]:
# you can use single or double quotes to define a string
first = '5'
second = "7"
print(first * second)

TypeError: can't multiply sequence by non-int of type 'str'

To cast (convert) the string of digits into an integer number, we can use the function int(). For example, int('23') gives an int object with value 23.

Given the information above, we can now fix the incorrect output and output the sum of the two numbers correctly:

In [21]:
a = int(input())
b = int(input())
s = a + b
print(s)

7
5
12

## Steps
---
[Ссылка на раздел урока](https://snakify.org/en/lessons/print_input_numbers/steps/1/)

#### It's all about the data
---
Every program deals with data. It can take some data for input, and it can output something. So we should know how to input data into it and how to output.

There's the function print() to output data from a Python program.

In [22]:
print(5 + 10)

15

#### Your own. Personal. Calculator.
---
Of course you can perform any other mathematical operations!

**Instructions**:
1. Type in the program window: print(7 - 3)
2. Then delete the previous code, type print(4 * 5)
3. Then delete the previous code, type print(5 / 3)

In [23]:
print(7 - 3)

4

In [24]:
print(4 * 5)

20

In [25]:
print(5 / 3)

1.6666666666666667

#### Reach out and touch faith.
---
We are excited to show you some more mathematical operations. In Python, you can easily calculate the value of some number to the power of another number. How to calculate 216 (2 to the power of 16)? Just type in: print(2 ** 16)

**Instructions**
1. Type in: print(2 ** 16) and press "Run".

In [27]:
print(2 ** 16)

65536

#### Weird arithmetic comes in
---
Moreover, you can perform integer division and division with remainder. If you are interested in an integer result of division, you print print(37 // 3). If you are interested in the remainder, you print print(37 % 3).

**Instructions**
1. Type in the program window: print(37 // 3)
2. Then delete the previous code and type print(37 % 3)

In [28]:
print(37 // 3)

12

In [29]:
print(37 % 3)

1

So, // sign is integer division; % returns you the remainder of the left value divided by the right value. 37 = 12 * 3 + 1, and this is why 37 // 3 = 12 and 37 % 3 = 1.

#### print(a, b, c)
---
You may print any number of values on one line.

**Instructions**
1. Just type print(3*7, (17 - 2) * 8) to see how this works.

In [30]:
print(3 * 7, (17 - 2) * 8)

21 120

#### Come together! Right now...
---
Now carnival ends, and they come to the scene all together:

In [32]:
print(5 + 10)
print(7 - 3)
print(4 * 5)
print(5 / 3)
print(2 ** 16)
print(37 / 3)
print(37 // 3)
print(37 % 3)
print(3 * 7, (17 - 2) * 8)

15
4
20
1.6666666666666667
65536
12.333333333333334
12
1
21 120

#### ...over me!
---
Note that you are allowed
- to make spaces between the lines
- to make spaces inside any line

In [33]:
print(5 + 10)
print(7 - 3      )
print(4*     5)

print(5 / 3)
print(2 ** 16)  # two stars are used for exponentiation

print(37  / 3)  # single forward slash is a division



print(37 // 3)
print           (37 % 3)
print(  3  * 7, (  17 - 2) *   8)

15
4
20
1.6666666666666667
65536
12.333333333333334
12
1
21 120

#### Your marvellous comments
---
See the English phrases after the sign #? They don't look like the other code. They are just text, they are remarks.

They are called comments. A comment is text. You write comments to clarify what happens in the code. If Python sees the sign #, it ignores the rest of the line and starts reading the next line, so feel free to write anything after the sign #.

In another words, comments are explanatory text that has no effect on program execution. This text starts with # and lasts till the end of the line.

In [36]:
# This program prints ton of numbers.
print(5 + 10)  #Комментарий №1
print(7 - 3)
print(4 * 5)
print(5 / 3)
print(2 ** 16)  # two stars are used for exponentiation
print(37 / 3)  # single forward slash is a division
print(37 // 3)
print(37 % 3)
print(3 * 7, (17 - 2) * 8)

15
4
20
1.6666666666666667
65536
12.333333333333334
12
1
21 120

#### Say what you think of Scott and Mary
---
**Instructions**
1. Try to write your own comment about Scott and Mary. Then press "Run".

Remember that comments start with #.

In [38]:
print("Scott + Mary = peace, love and death metal")

Scott + Mary = peace, love and death metal

In [41]:
#"Scott + Mary = peace, love and death metal"

#### The Oscar goes to you
---
**Instructions**
1. Now print the remainder of the division of 41 by 7.

In [43]:
print(41 % 7)

6

#### The task, it goes to you
---
**Instructions**
1. Now print 3^5.

In [44]:
print(3 ** 5)

243

#### The task for Elon Musk
---
**Instructions**
1. Now print 5 % (101 % 3) and (76 // 3) * 4 on one line.

In [45]:
print( 5 % (101 % 3), (76 // 3) * 4)

1 100

#### Know how to input
---
So far, this section was empty in our programs.

But as a serious programmer, you will want to make some of your programs universal: each time you launch them, you will want to pass different data to input. (Generally, that means you will get different data at output.)

To read your data from input, the function input() exists.

In [46]:
print(input())

Значение, которое я ввожу)))
Значение, которое я ввожу)))

#### What you input is always a string
---
The function input() reads your input as a string. Even if you typed 23.

In [51]:
print(type(input()))

23
<class 'str'>

#### Variables
---
When writing a complex program, you usually can't print the answer of your calculation right away. Instead you use variables to store intermediate results.

Look at the code section. The first line has three parts: a = 3

To the left of the assignment operator* we put a name of variable, in this case, a. The name can be any string of latin characters mixed with numbers and the underscore _ but cannot start with a number. So, much3q1 is a valid name for a variable, and 2pac is not.

To the right of the assignment operator* we put any expression that Python can evaluate. It can be 3 as in the code below, or it can be, say, 1 + (2 ** 8) % 5.

*The assignment operator is =.

Look what we've done: we assigned to the variable a the value of 3. We can read this as "a is assigned the value of 3" or "a gets 3". All right, now.
**Instructions**
1. Change the second line to print(a * a), run the program and see what happens.
2. Erase the line print(a * a). Type b = a * a * a, type print(b) on the next line, then run the code and see what happens.

In [52]:
a = 3
print(a)

3

In [53]:
a = 3
print(a * a)

9

In [54]:
a = 3
b = a * a *a 
print(b)

27

#### The more variables the better
---
Never hesitate to introduce different variables! The more variables you introduce, and the more logical the names are, the more readable your code will be.

In [58]:
# Compare this:
print(( 2 ** 10 - 3.7 ) / ( 95 / 6 + 8))

# to this:

numerator = 2 ** 10 - 3.7
denominator = 95 / 6 + 8

N = numerator/denominator

print(N)

42.8097902097902
42.8097902097902

#### Greet yourself
---
Here's a program that reads the user's name and greets him.
**Instructions**
1. Write your own name in the input section! Let the program greet you!

In [59]:
print('What is your name?')
name = input()  # read a single line and store it in the variable "name"
print('Hi ' + name + '!')

What is your name?
Vitaliy
Hi Vitaliy!

#### The very start: summing two numbers
---
Let's try to write a program that has two numbers as an input and prints their sum.

We read the two numbers and store them in the variables a and b.

**Instructions**
1. Read the code, run it and look at its output.

In [61]:
a = input()
b = input()
s = a + b
print(s)

12
5
125

#### Oops: you added strings, not numbers
---
After running the previous example we can see that it prints 57. As we were taught in school, 5 + 7 gives 12. What happened?

So, the program does not give the expected result, and it is important to understand why.

The reason is, in the line s = a + b Python has joined two strings, rather than adding two numbers. Applying + to two strings in Python just glues one after the other. This is called string concatenation.

**Instructions**
1. Put two different numbers into the 'input' section, and then watch as they are glued to each other, not added :(

In [60]:
a = int(input())
b = int(input())
sum = (a + b)
print(sum)

15
546
561

#### What are strings and what are numbers
---
Look at the code below. Do you see that the values bound to variables s and que are wrapped in quotes?

That means these values are strings, not numbers. Strings and numbers are represented in Python differently.

(It doesn't matter what quotation marks will you use to define a string: these ' ' or these " ".)

In [62]:
num = 14       # This is the number
s = 'hadoop'   # This is the string
que = "wroom"   # This is also a string
print (s + que)

# 'hadoop' and "wroom" have different
# quotation marks, but Python has no problem
# with it,
# and the output is
# 'hadoopwroom'

hadoopwroom

#### I can't multiply strings :(
---
All the values in Python are called objects. Every object has a certain type. The number 2 corresponds to an object "2" of type "int" (i.e., an integer number).

The string 'hello' corresponds to an object "hello" of type "str".

Every real number can be represented as an object of type "float".

The type of an object specifies what kind of operations may be applied to it. For instance, if the two variables "first" and "second" are pointing to the objects of type int, Python can multiply them. However, Python can't multiply strings.

In [63]:
first = 5
second = 7
print(first * second)

# you can use single or double quotes to define a string
first = '5'
second = "7"
print(first * second)

35

TypeError: can't multiply sequence by non-int of type 'str'

The first three lines of code here successfully gave us the result of multiplication, and the last three lines gave us the error.

#### Transformers: transforming strings to integers
---
To cast the string of digits into an integer number, we can use the function int(). Eg., int('23') transforms the string '23' into the number 23, and int(input()) transforms the input string into an integer (if the input is made of digits!).

**Instructions**
1. Read the number from input, then transform it to integer using int() and print the result.

In [65]:
num = input()
num_int = int(num)
print(type(num), type(num_int))

365
<class 'str'> <class 'int'>

#### Summing numbers, not strings
---
Using the magic of int(), we can now fix our incorrect program to sum the two numbers:

In [67]:
a = int(input())
# the function input() reads the first string, then int() casts it into the integer 5 
b = int(input())
# reads the second string, then casts it into the integer 7
s = a + b
print(s)

7
5
12

This is when we're rewarded for watching the types! 5+7 resulted in 12! Hooray!

Congratulations. This is the end of the first level. You've passed it. Now try to solve some problems!

## Problems
---
[Ссылка на раздел урока](https://snakify.org/en/lessons/print_input_numbers/problems/)

#### Problem «Sum of three numbers»
---
**Statement**

Write a program that takes three numbers and prints their sum. Every number is given on a separate line.

**Your solution**

In [68]:
a = int(input())
b = int(input())
с = int(input())
print(a + b + с)

5
6
8
19

**Suggested solution**

In [69]:
a = int(input())
b = int(input())
c = int(input())
print(a + b + c)

1
5
7
13

#### Problem «Hi John»
---
**Statement**

Write a program that greets the person by printing the word "Hi" and the name of the person. See the examples below.

**Your solution**

In [70]:
print('Hi', input())

Vitaliy
Hi Vitaliy

**Suggested solution**

In [71]:
# Read the name:
name = input()

# Print the result using
print('Hi', name)

Vitaliy
Hi Vitaliy

#### Problem «Square»
---
**Statement**

Write a program that takes a number and print its square.

**Your solution**

In [72]:
print(int(input()) ** 2)

5
25

**Suggested solution**

In [73]:
a = int(input())

print(a ** 2)

5
25

#### Problem «Area of right-angled triangle»
---
**Statement**

Write a program that reads the length of the base and the height of a right-angled triangle and prints the area. Every number is given on a separate line.

**Your solution**

In [74]:
a = int(input())
b = int(input())

area = a * b / 2

print(area)

5
7
17.5

**Suggested solution**

In [75]:
a = int(input())
b = int(input())
print(a * b / 2)

5
7
17.5

#### Problem «Hello, Harry!»
---
**Statement**

Write a program that greets the user by printing the word "Hello", a comma, the name of the user and an exclamation mark after it. See the examples below.
Warning. Your program's output should strictly match the desired one, character by character. There shouldn't be any space between the name and the exclamation mark. You can use + operator to concatenate two strings. See the lesson for details.

**Your solution**

In [77]:
print('Hello,', input() + '!')

qwerty
Hello, qwerty!

**Suggested solution**

In [78]:
print('Hello,', input() + '!')

qwerty
Hello, qwerty!

#### Problem «Apple sharing»
---
**Statement**

N students take K apples and distribute them among each other evenly. The remaining (the undivisible) part remains in the basket. How many apples will each single student get? How many apples will remain in the basket?
The program reads the numbers N and K. It should print the two answers for the questions above.

**Your solution**

In [79]:
N = int(input()) #  students
k = int(input()) #  apples

print(k // N)
print(k % N)

5
10
2
0

**Suggested solution**

In [80]:
n = int(input())
k = int(input())
print(k // n)
print(k % n)

5
10
2
0

#### Problem «Previous and next»
---
**Statement**

Write a program that reads an integer number and prints its previous and next numbers. See the examples below for the exact format your answers should take. There shouldn't be a space before the period.
Remember that you can convert the numbers to strings using the function str.

**Your solution**

In [82]:
num = input()

print('The next number for the number', num, 'is', str(int(num) + 1) + '.')
print('The previous number for the number', num, 'is', str(int(num) - 1) + '.')

123456
The next number for the number 123456 is 123457.
The previous number for the number 123456 is 123455.

**Suggested solution**

In [83]:
n = int(input())
print('The next number for the number ' + str(n) + ' is ' + str(n + 1) + '.')
print('The previous number for the number ' + str(n) + ' is ' + str(n - 1) + '.')

1564
The next number for the number 1564 is 1565.
The previous number for the number 1564 is 1563.

#### Problem «Two timestamps»
---
**Statement**

A timestamp is three numbers: a number of hours, minutes and seconds. Given two timestamps, calculate how many seconds is between them. The moment of the first timestamp occurred before the moment of the second timestamp.

**Your solution**

In [86]:
h1, m1, s1, h2, m2, s2 = int(input()), int(input()), int(input()), int(input()), int(input()), int(input())

print((h2-h1)*3600 + (m2-m1)*60 + s2-s1)

2
35
50
4
15
25
5975

**Suggested solution**

In [87]:
hours_1 = int(input())
minutes_1 = int(input())
seconds_1 = int(input())
hours_2 = int(input())
minutes_2 = int(input())
seconds_2 = int(input())
print(hours_2 * 3600 + minutes_2 * 60 + seconds_2
    - hours_1 * 3600 - minutes_1 * 60 - seconds_1)

2
35
50
4
15
25
5975

#### Problem «School desks»
---
**Statement**

A school decided to replace the desks in three classrooms. Each desk sits two students. Given the number of students in each class, print the smallest possible number of desks that can be purchased.
The program should read three integers: the number of students in each of the three classes, a, b and c respectively.

In the first test there are three groups. The first group has 20 students and thus needs 10 desks. The second group has 21 students, so they can get by with no fewer than 11 desks. 11 desks is also enough for the third group of 22 students. So we need 32 desks in total.

**Your solution**

In [88]:
a, b, c = int(input()), int(input()), int(input())

print(a//2 + b//2+ c//2 + a%2 + b%2 + c%2)

5
6
7
10

**Suggested solution**

In [89]:
a = int(input())
b = int(input())
c = int(input())
print(a // 2 + b // 2 + c // 2 + a % 2 + b % 2 + c % 2)

5
6
7
10

# Lesson 2 - Integer and float numbers
---
[Ссылка на урок](https://snakify.org/en/lessons/integer_float_numbers/)

[Ссылка на документацию Python](https://docs.python.org/3.11/tutorial/index.html)

## Theory
---
[Ссылка на раздел урока](https://snakify.org/en/lessons/integer_float_numbers/#)

### Integer arithmetics

## Steps
---
[Ссылка на раздел урока](https://snakify.org/en/lessons/integer_float_numbers/steps/1/)

## Problems
---
[Ссылка на раздел урока](https://snakify.org/en/lessons/integer_float_numbers/problems/)